*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: url(./img/meufundo.png) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    padding-left: 8%;
    padding-right: 8%;
}


.logo{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;
}

span{
    color: #ff5a1e;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 1em;
    font-size: 21px;
}

nav{
    color: #ff5a1e;
    transform: .4s;
}

.main{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%);
}

.main h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 40px;
}

.main h4{
    color: #ff5a1e;
    letter-spacing: 2px;
    font-size: 23px;
}

.main h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.main span{
    color: #ff5a1e;
}

.line{
    border-right: 2px solid rgb(0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation{
    animation: blinkCursor 500ms infinite normal, typing 3s steps(40) 1s normal both;
}


@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgb(0, 0, 0);
    }
    to {
        border-right-color: transparent;
    }
}

.midias{
    margin-top: 1rem;
    display: flex;
}

.midias a{
    text-decoration: none;
    color: #fdfdfd;
    padding: 1rem 4rem;
    border: 1px solid #ff5a1e;
    border-radius: 30px;
    min-width: 4rem;
    display: flex;
    align-items: center;
    transition: .5a ease-in-out;
}

a:hover{
    border-radius: 30px;
    background-color: #ff5a1e;
}

.background-color-sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.background-color-sobre img{
    width: 300px;
    height: auto;
    margin: 4%;
}

.text-sobre{
    width: 550px;
}

.main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.text-sobre h2{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-sobre h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text-sobre p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.container-servico{
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.caixa{
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card{
    background: #191919;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    font-size: 20px;
    margin: top;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h2{
    color: #fcfcfc;
}

.card p{
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #fcfcfc;
}

footer{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #090909;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6{
    font-size: 35px;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.tela-projetos{
    background: #191919;
    padding: 15px 0px;
}



