@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(14, 11, 33);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: rgb(26, 21, 59);
    z-index: 9999;
    box-shadow: none;
    transition: background-color 0.5s ease-in-out;
}

nav p {
    font-size: 30px;
    color: rgb(180, 178, 193);
    background-color: rgb(26, 21, 59);
    transition: background-color 0.5s ease-in-out;
}

nav span {
    background-color: rgb(0, 0, 255);
    border-radius: 25px;
}

.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 30px auto;
    gap: 20px;
}

.linktree p {
    color: rgb(180, 178, 193);
    margin-top: 35px;
}

.linktree .cima {
    font-size: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.linktree .baixo {
    font-size: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.linktree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.linktree h2 {
    color: rgb(180, 178, 193);
    border-radius: 30px 30px 30px 30px;
    font-size: 1.9rem;
}

.linktree a {
    color: rgb(180, 178, 193);
    background-color: rgb(42, 1, 109);
    width: 30%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 25px 25px 25px 25px;
}

.text-sobre {
    color: rgb(180, 178, 193);
    width: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 23px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.sobre h1 {
    color: rgb(180, 178, 193);
    text-align: center;
    gap: 20px;

}

.videos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.video1, .video2, .video3, .video4, .video5, .video6 {
    width: 100%;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 25px;
    padding: 10px;
}

.video1, .video2 {
    grid-row: 1;
}

.video3, .video4 {
    grid-row: 2;
}

.video5, .video6 {
    grid-row: 3;
}

.video1 p {
    color: rgb(180, 178, 193);
    font-size: 25px;
}

.video2 p {
    color: rgb(180, 178, 193);
    font-size: 23px;
}

.video3 p {
    color: rgb(180, 178, 193);
    font-size: 23px;
}

.video4 p {
    color: rgb(180, 178, 193);
    font-size: 23px;
}

.video5 p {
    color: rgb(180, 178, 193);
    font-size: 23px;
}

.video6 p {
    color: rgb(180, 178, 193);
    font-size: 25px;
}

@media (max-width: 768px) {
    .videos {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  
    .video1, .video2, .video3, .video4, .video5, .video6 {
      grid-row: auto;
      grid-column: auto;
    }
  
    .video5 {
      grid-row: 4;
 
    }
}
  







