@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./img/555187.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Oswald;
}


.linktree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0px auto;
    gap: 20px;
}

.linktree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.linktree h2 {
    color: bisque;
    border-radius: 30px 30px 30px 30px;
    font-size: 1.9rem;
}

.linktree a {
    color: bisque;
    width: 30%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 25px 25px 25px 25px;
}

.text-sobre {
    color: antiquewhite;
    width: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.sobre h1 {
    color: beige;
    text-align: center;
    gap: 20px;

}

.videos {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}


